@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ||VARIABLES */
:root {
  /* FONTS */
  --FF: "Poppins";

  /* COLOR */
  --H1-COLOR: #290f09;
  --GREETING-MESSAGE-COLOR: #54423d;
  --PROJECT-TITLE-COLOR: #172b4d;
  --PROJECT-NAME-COLOR: #172b4d;
  --TITLE-COLOR: #344563;
  --JOB-TITLE-COLOR: #7a869a;
  --SIGN-UP-COLOR: #344563;
  --BACKGROUND-COLOR: #e5e5e5;
  --BACKGROUND-COLOR1: #fff;
  --TEXT-COLOR: #172b4d;
  --INTRO-MESSAGE-COLOR: #344563;
  --COONECT1-COLOR: #7f8cff;
  --LANGUAGES-COLOR: #253858;

  /* IMAGES */
  --BODY-BG-IMAGE: url("images 1/header-shapes mobile.png");
}

/* || GENERAL STYLE */
body {
  font-family: var(--FF);
  width: 100%;
  background-repeat: no-repeat;
  background-color: var(--BACKGROUND-COLOR);
}

/* || HEADER */
.header {
  position: absolute;
  width: 375px;
  top: 0;
  left: 0;
}

.nav_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  align-content: center;
  margin-left: 15px;
  margin-right: 15px;
}

.headline__section {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 35%;
  background-image: var(--BODY-BG-IMAGE);
  background-repeat: no-repeat;
  background-color: var(--BACKGROUND-COLOR1);
  padding-bottom: 25%;
  border-bottom-left-radius: 70px;
  width: 375px;
}

#connect {
  margin-left: 10px;
  padding-top: 2%;
  color: #7f8cff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

#greeting {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-left: 10px;
}

#message {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 10px;
  margin-top: 6px;
}

.social {
  display: flex;
  flex-direction: row;
}

.ul {
  position: absolute;
  left: 6.4%;
  right: 88.27%;
  top: 77.81%;
  bottom: 18.88%;
}

.ul li {
  margin: 0 35px;
}

.twitter,
.Vector i,
.VectorII,
.Medium,
.github,
.angellist {
  margin: 0 13px;
}

.works_section {
  display: grid;
}

.Portfolio-pic {
  width: 295px;
  display: flex;
  flex-direction: column;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-items: left;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-left: 30px;
  margin-top: 150px;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-items: left;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 596px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-left: 30px;
  margin-top: 100px;
}

.container3 {
  display: flex;
  flex-direction: column;
  justify-items: left;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-left: 30px;
  margin-top: 100px;
}

.container4 {
  display: flex;
  flex-direction: column;
  justify-items: left;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 596px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-left: 30px;
  margin-top: 100px;
}

#project_name1,
#project_name2,
#project_name3,
#project_name4 {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--PROJECT-TITLE-COLOR);
}

.project-title1,
.project_title2,
.project_title3,
.project_title4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title_name {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--TITLE-COLOR);
}

.job_title {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--JOB-TITLE-COLOR);
}

.year {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--JOB-TITLE-COLOR);
}

.ul_description li {
  display: inline;
}

.social li,
.social1 li {
  list-style-type: none;
}

#sign-up1,
#sign-up2,
#sign-up3,
#sign-up4 {
  display: flex;
  font-family: var(--FF);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--SIGN-UP-COLOR);
}

.Prog_languages {
  display: flex;
  gap: 5%;
}

#tag1 {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  width: 53px;
  height: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
}

#tag2 {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3442c2;
  background: #ebebff;
  width: 45px;
  height: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
}

#tag3 {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  width: 89px;
  height: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
}

.View_project1,
.View_project2,
.View_project3,
.View_project4 {
  margin-top: 12px;
}

#view1,
#view2,
#view3,
#view4 {
  font-family: var(--FF);
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #396df2;
  border-radius: 8px;
  border: 1px solid #396df2;
}

a#view1:hover {
  color: papayawhip;
}

a#view1:active {
  color: navy;
}

a#view2:hover {
  color: papayawhip;
}

a#view2:active {
  color: navy;
}

a#view3:hover {
  color: papayawhip;
}

a#view3:active {
  color: navy;
}

a#view4:hover {
  color: papayawhip;
}

a#view4:active {
  color: navy;
}

a#resume:hover {
  color: papayawhip;
}

a#resume:active {
  color: navy;
}

.biography {
  margin-left: 20px;
  padding-top: 100px;
}

.About_Myself {
  margin-top: 100px;
  width: 375px;
  height: 1240px;
  left: 375px;
  top: 4769px;
  background-color: var(--BACKGROUND-COLOR1);
  border-top-right-radius: 120px;
}

#text {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: var(--TEXT-COLOR);
  width: 327px;
  height: 101px;
}

#intro_message {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  height: 144px;
  color: var(--INTRO-MESSAGE-COLOR);
}

#connect1 {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 117px;
  height: 24px;
  color: var(--COONECT1-COLOR);
  margin-top: 30px;
}

#connect,
#view1,
#view2,
#view3,
#view4,
#connect1,
#resume {
  text-decoration: none;
}

.social1 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.view_resume {
  margin-top: 20px;
}

#resume {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  width: 155px;
  height: 50px;
  color: #396df2;
  border-radius: 8px;
  border: 1px solid #396df2;
  padding-left: 5px;
}

#language_text {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-left: 1px;
}

.languages {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.javascript_frame,
.html_frame,
.css_frame {
  display: flex;
  align-items: center;
  margin-top: 30px;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-left: 20px;
}

#text_js,
#text_html,
#text_css {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--LANGUAGES-COLOR);
  margin-left: 20px;
}

.imag_js,
.imag_html,
.imag_css {
  margin-left: 10px;
}

.Text_frame {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: flex-start;
  margin-left: 20px;
  position: relative;
}

.Text {
  display: flex;
  align-items: baseline;
  margin-top: 30px;
  justify-content: flex-start;
  margin-left: 20px;
  position: relative;
}

.forward1 {
  position: absolute;
  left: 70%;
  right: 33.33%;
  top: 25%;
  bottom: 25%;
}

.forward {
  margin-left: 220px;
}

#framework,
#skill {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 20px;
}

.counter,
.job_title,
.year {
  margin-left: 10px;
}

.Text_frame::after,
.Text::after {
  content: "";
  height: 1px;
  width: 300px;
  background: #dfe1e6;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

/* || FOOTER */

.footer_wrapper {
  position: absolute;
  left: 0;
  top: 4580px;
  width: 375px;
  height: 800px;
  background-image: url("images 1/contact-form-shapes-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #6070ff;
  border-top-left-radius: 120px;
}

.footer_contact {
  position: absolute;
  top: 30px;
  left: 66px;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.contact {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 12px;
}

form {
  position: absolute;
  top: 330px;
  left: 24px;
}

.list {
  list-style: none;
}

#text_footer {
  position: absolute;
  top: 190px;
  left: 24px;
  font-family: var(--FF);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 20px;
  padding-left: 10px;
}

input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 300px;
  height: 40px;
  margin-left: 1px;
  margin-top: 30px;
}

textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 300px;
  height: 150px;
  margin-left: 1px;
  margin-top: 30px;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  background: #fff;
  border-color: #fff;
}

.contact-btn {
  font-family: var(--FF);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  width: 150px;
  height: 50px;
  color: #396df2;
  border-radius: 8px;
  margin-left: 1px;
  margin-top: 45px;
}

.contact-btn:hover {
  background: #7a869a;
  color: #fff;
}

.contact-btn:active {
  background: #172b4d;
  color: #fff;
}
